{
    "parser": "@babel/eslint-parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest/globals": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "linebreak-style": 0,
        "eol-last": ["error", "never"],
        "indent": "off",
        "require-jsdoc" : "off",
        "object-curly-spacing": "off",
        "no-unused-vars": "off",
        "arrow-parens": "off",
        "max-len": ["error", { "code": 120 }]
    },
    "plugins": ["jest"]
}